* {
    font-size: x-large;
}

#pasteCard {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 15px;
    padding: 10px;
    display: none;
}