<ion-header>
  <ion-toolbar>
      <ion-title>
          Scan your QR Code
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
          <ion-col>
              <ion-card>
                  <ion-card-header>
                      <ion-card-title>
                          Scan your QR Code
                      </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                      <ion-button expand="block" (click)="scanBarcode()">Scan QR Code</ion-button>
                  </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>