<ion-content>
  <ion-grid>
      <ion-row>
          <ion-col>
              <ion-card>
                  <ion-card-content>
                      <ion-button expand="block" (click)="scanBarcode()">Scan QR Code</ion-button>
                  </ion-card-content>
              </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>

  <ion-card id="pasteCard">
    <table>
        <th colspan="2">Bestelnummer: {{bestelnummer}}<hr></th>
        <tr>
            <td>Artikel-code: </td>
            <td>{{artikelCode}}</td>
        </tr>
        <tr>
            <td>Pallet nr: </td>
            <td>{{palletNr}}</td>
        </tr>
    </table>
  </ion-card>
</ion-content>