* {
    font-size: x-large!important;
}

#pasteCard {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 15px;
    padding: 10px;
    display: none;
}

#magazijnLocatie {
    font-size: x-large!important;
    display: none;
    //display: block;
}

#sendDataCard {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
    border-radius: 5px;
    margin-bottom: 10px;
    margin: 15px;
    padding: 10px;
    display: none;
}

#scanButton {
    width: 88%!important;
}

#backIcon {
    font-size: 3rem!important;
}

#imTrying {
    display: flex;
}

#dataRecievedCard {
    display: none;
}