#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

* {
  font-size: x-large;
}

#container strong {
  font-size: x-large;
  line-height: 26px;
}

#container p {
  font-size: x-large;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#buttonRegel {
  margin-left: 15px;
  margin-right: 15px;
  display: none;
  height: 50px;
}

#header {
  margin: 10 auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: none;
  box-shadow: none;
  border-radius: 0;
  border: 1px solid hidden;
  border-radius: 5px;
}

#order-input {
  width: 76%;
  border: 1px solid #ebebeb;
  border-radius: 5px 0 0 5px;
  padding-left: 15px;
  padding-bottom: 7px;
  margin: 0;
}

#bestelnummerInput {
  width: 100%;
  padding-left: 15px;
  padding-bottom: 7px;
  margin: 0;
  display: flex;
  align-items: center;
}

#bestelnummerDeel1 {
  max-width: 25%;
  padding-left: 15px;
  padding-bottom: 7px;
  margin: 0;
  display: inline-block;
}

#bestelnummerDeel2 {
  max-width: 35%;
  padding-left: 15px;
  padding-bottom: 7px;
  margin: 0;
  display: inline-block;
}

#bestelnummerDash {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 7px;
  margin: 0;
  display: inline-block;
}

#order-button {
  width: 25%;
  position: absolute;
  right: 0;
  height: 100%;
  margin: 0;
  border: 1px hidden;
  border-radius: 0 5px 5px 0;
  font-size: inherit;
}

#orderInformatie {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
  border-radius: 5px;
  margin-bottom: 10px;
  margin: 15px;
  display: none;
}

#header {
  width: 95%;
  margin: 0 auto;
  --padding-end: 0px;
  --inner-padding-end: 0px;
  --inner-padding-start: 0px;
  --padding-start: 0px;
  display: flex;
  background-color: #ebebeb;
}

#bestellingPlc {
  max-height: 35px;
}

#bestellingPlaceholder {
  max-height: 50px;
}

ion-fab-button {
  margin-bottom: 13px;
}

#backIcon {
  font-size: 5rem;
}

#cameraLog {
  max-height: 35px;
}

#bestellingTable {
  display: none;
  width: 100%;
  margin: 5px!important;
}

#bestellingTable td{
  padding: 5px!important;
}

#cameraBtn {
  display: none;
  height: 105px!important;
}
