<ion-header [translucent]="true">


<ion-content [fullscreen]="true">
  
  <ion-card id="header">
    <ion-icon id="backIcon" name="arrow-back" [routerLink]="['/main']"></ion-icon>

    <!-- Input for the order number -->
    <ion-item style="padding:0px !important;" lines="none" id="header">

      <div id="order-input">
        <ion-label id="bestelnummerLbl" position="floating">Bestelnummer</ion-label>
        <ion-input id="bestelnummer" type="text" [(ngModel)]="bestelnummer" placeholder="Bestelnummer"></ion-input>
      </div>
      
      <ion-button id="order-button" position="floating" (click)="getBestelnummer(bestelnummer)">Check</ion-button>
    </ion-item>
  </ion-card>

  <ion-card id="orderInformatie">

    <ion-item>
      <ion-label>Bestelling</ion-label>
    </ion-item>

    <!-- Beneath this are the information on the order -->
    <ion-item lines="none">

      <table id="bestellingTable">
        <tr>
          <td>Bestelnummer:</td>
          <td>{{bstlNummer}}</td>
        </tr>
        <tr>
          <td>Besteldatum:</td>
          <td>{{bstlDatum}}</td>
        </tr>
        <tr>
          <td>Leverancier:</td>
          <td>{{lvrNaam}}</td>
        </tr>


      </table>

      

    </ion-item>

    <!-- <div *ngIf="bstlNummer">
      <ion-item lines="none">
        <ion-textarea id="bestellingPlc" [(ngModel)]="bstlDatum"   [readonly]="true"></ion-textarea>
      </ion-item>
      <ion-item lines="none">
        <ion-textarea id="bestellingPlc" [(ngModel)]="lvrNaam"     [readonly]="true"></ion-textarea>
      </ion-item>
      <ion-item lines="none">
        <ion-textarea id="bestellingPlc" [(ngModel)]="lvrTel"      [readonly]="true"></ion-textarea>
      </ion-item>
      <ion-item lines="none">
        <ion-textarea id="bestellingPlc" [(ngModel)]="referentie"  [readonly]="true"></ion-textarea>
      </ion-item>
      <ion-item lines="none">
        <ion-textarea id="cameraLog"></ion-textarea>
      </ion-item>

      <ion-content>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-right: 5%;">
          <ion-fab-button (click)="selectImage()">
            <ion-icon name="camera"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </div> -->

  </ion-card>
  <ion-item id="cameraBtn">
    <ion-content style="height: 65px;">
      <table>
        <tr>
          <td>
            <ion-fab>
              <ion-fab-button (click)="selectImage()">
                <ion-icon name="camera"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </td>
        </tr>
        <tr>
          <td>
            <ion-item lines="none">
                <p id="cameraLog"></p>
            </ion-item>
          </td>
        </tr>
      </table>
      
    </ion-content>
  </ion-item>
  <!-- Button to show the articles in said order -->
  <ion-button id="buttonRegel" expand="block" (click)="getRegels(bestelnummer)">Laat artikelen zien</ion-button>

  <!-- Beneath this are the articles in said order -->
  <div id="alleArtikels"></div>

</ion-content>